body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: bisque;
}
.thumbnail{
    background-color: transparent;
    border: 0px;
}
.height200 {
    min-height: 200px;
}
.azul {
    background: blue;
}
.verde {
    background: green;
}
.navbar-china {
    border-radius: 0;
}
.carousel-inner>.item>img.fotinhas-china {
    width: 100%;
    height: 100%;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .descricao>h1 {
        font-size: 24px;
    }
    .descricao>h2 {
        font-size: 18px;
    }
}

